<configuration>
	<refFolder>/data/spark/ref</refFolder>
	<toolsFolder>/data/spark/tools</toolsFolder>
	<tmpFolder>/data/pbhosale/temp</tmpFolder> <!-- Use something like /data/yourusername. Never use a shared dir -->
	<inputFolder>/user/pbhosale/input</inputFolder>
	<outputFolder>/user/pbhosale/output</outputFolder> 
	<numInstances>4</numInstances>
	<numThreads>4</numThreads>
</configuration>
